$primary: #346cb9;
$primary--hover: #3975c9;
$primary-bg: #f7f7ff;
$primary-bg--hover: #e2e2ee;

$primary-text: #333;
$primary-btn-text: #fff;

$input-border: #888;
$input-border--focused: #666;

$popup-overlay: rgba(0, 0, 0, 0.2);
