@import "src/styles";

.header {
  padding: 1rem;
  background-color: $header-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-view {
    overflow-x: auto;
  }
}
